html{
    background-image: url(assets/sky.gif)
}

.one{
    width: 700px;
    height: 700px;
    background-image:url(assets/rustic__large.png);
    background-color: darkred
;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}


.window{
  width:150px;
  height:200px;
  background-color:black;
  position: absolute;
  top:50px;
  left:50px;
  z-index:1; 
 display: block;
}


iframe{
  width:150px;
  height:200px;
  background-color:black;
  position: absolute;
  top:50px;
  left:50px;   
}

.window:hover{display:none}


.window1:hover{background-color: aqua;}

.window2:hover{background-color: aqua;}


.window1{
  width:150px;
  height:200px;
  background-color:black;
  position: absolute;
  top:50px;
  left:300px;   
    
}

.window2{
  width:150px;
  height:200px;
  background-color:black;
  position: absolute;
  top:50px;
  left:500px;   
    
}

audio{transform: rotate(90deg);
     position: absolute;
    top:200px;
    left:-100px;}

.two{transform: rotate(90deg);
     position: absolute;
    top:500px;
    left:-100px;}

.sidewalk{width:100%;
          height:50px;
          background-color: dimgray;
         position: absolute;
        bottom:1px;
        left:0px;
        z-index: 1;}
