body{ background: white;
animation: mymove 10s infinite;}



@-webkit-keyframes mymove {
    25%{background-color: skyblue;}
    50% {background-color: blueviolet}
    100%{background-color:white;}
}

.evry{top:10%;
bottom:10%;
left:10%;
right:10%;
position:absolute}

#assign{
position:absolute;
display: inline-flex;
height:600px;
width:50%;
}

.content{background-color:peachpuff;border:10px;
height:80%;
width:30%;
padding:15px;
margin:0% 5% 0% 5%;
text-align: center;
    text-decoration: none;font-family: sans-serif;}

.content:hover{width:100%;
height:100%;}

.items {
        height:600px;
        width:50%;
        float:right;
        position:absolute;
        left:50%;
          display: flex;
  flex-flow: column wrap;
}
.items .item {
	 width: 25%;
  height: 25%;
  background-color: cadetblue;
  color:blue;
  d
  padding:10px;
  margin:0 1% 5% 0;
  text-align: center;
    text-decoration: none;font-family: sans-serif;}

.items .item:hover{height:30%;
width: 30%}