body{ background: white;
animation: mymove 20s infinite;}

.name{font-family: sans-serif;
text-align: right;
color: dimgray}


@-webkit-keyframes mymove {
    25%{background-color: skyblue;}
    50% {background-color: blueviolet}
    100%{background-color:white;}
}

.evry{top:0%;
bottom:5%;
left:0%;
right:5%;
position:absolute}

#assign{
position:absolute;
display: inline-flex;
top:5%;
height:50%;
width:50%;
}

.content{background-color:peachpuff;border:10px;
height:100%;
width:30%;
padding:15px;
margin:0% 5% 0% 0%;
text-align: center;
    text-decoration: none;font-family: sans-serif;}

.content:hover{width:100%;
height:100%;}

.items {
        height:95%;
        width:40%;
        float:right;
       top:5%; position:absolute;
        left:50%;
          display: flex;
  flex-flow: column wrap;
}
.items .item {
	 width: 35%;
  height: 15%;
  background-color: cadetblue;
  color:blue;
  padding:10px;
  margin:0 1% 2% 0;
  text-align: center;
    text-decoration: none;font-family: sans-serif;}

.items .item:hover{height:20%;
width: 20%}

.items22 {
        height:80%;
        width:30%;
      float:right;
        position:absolute;
        left:70%;
        top:24%;
          display: flex;
  flex-flow: column wrap;
}
.items22 .item1 {
	 width: 65%;
  height: 15%;
  background-color: cadetblue;
  color:blue;
  padding:10px;
  margin:0 1% 2% 0;
  text-align: center;
    text-decoration: none;font-family: sans-serif;}

.items22 .item1:hover{height:20%;
width: 20%}

p{color:palegreen;
font-family:sans-serif;
font-size:2em;
position: absolute;
top:60%;
left:0%;
width:40%;
display:none;
}
