.grid{position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin:auto;}


#assign{
display: inline-flex;
height:60%;
width:50%;
}

.content{background-color: aqua;border:10px;border-color: aqua;
height:100%;
width:20%;
margin:0% 5% 0% 5%}



#whatever{
position:absolute;
align-content: flex-end;
background-color: brown;
height:60%;
display:flex;
width:25%;
flex-wrap: wrap;
align-content: space-around;
flex-direction: column;
}

.mah{background-color:gold;
width:30%;
position: absolute;
margin:0% 10% 0% 20%}