html{
    background-image: url(assets/sky.gif)
}




.one{
    width: 700px;
    height: 700px;
    background-image:url(assets/rustic__large.png);
    background-color: darkred
;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}