body{background-image: url(maxresdefault.jpg);
    background-repeat: no-repeat;
background-color:cadetblue;background-size: cover}

p{font-size:6em;
color:yellow;}

img{height:500px;
    right:1px;
    position: absolute}

.burg{background-image: url(unnamed.png);
    height:300px;
    width:300px;
    position: absolute;
    left:600px;
    background-size: contain;
    background-repeat: no-repeat;}