body { 
  font-family: "Open Sans", sanserif;
  margin: 2em;
  background-color:ghostwhite;
}


h6 {
  font-size: .7em;
  text-align: center;
  margin: 1em 0;
  color:gray;
}

h6 em { font-weight: bold;
        font-size: 1.5em;}

#message{
    position: absolute;
  margin: auto;
  right: 0;
  left: 0;
    top:100px;
    width:70%;
    position: absolute;
    }

#main-image{
  background-color:dodgerblue;
  height:50px;
  width:300px;
  display:block;
  position: relative;
  border-radius: 1em/1em;
  -webkit-animation:cssAnimation 0s ease-in 1s forwards;
}

#what{
  background-color:dodgerblue;
  margin-top:40px;
  overflow: hidden;
  border-radius: 1em/1em;
  -webkit-animation:cssAnimation1  0s ease-in 30s forwards;
}

#uhh{
background-color:darkgray;
  margin-top:40px;
  margin-bottom:40px;
  margin-left:100%;
  overflow: hidden;
  float:right;
  margin-right:5%;
  border-radius: 1em/1em;
  -webkit-animation:cssAnimation2  0s ease-in 90s forwards;
}

#too{
background-color:dodgerblue;
  margin-top:40px;
  overflow: hidden;
  border-radius: 1em/1em;
  -webkit-animation:cssAnimation4  0s ease-in 120s forwards;
}

#omg{
background-color:darkgray;
  margin-top:40px;
  margin-bottom:40px;
  margin-left:100%;
  overflow: hidden;
  float:right;
  margin-right:5%;
  border-radius: 1em/1em;
  -webkit-animation:cssAnimation5  0s ease-in 180s forwards;
}

#hewhat{
background-color:dodgerblue;
  margin-top:40px;
  overflow: hidden;
  border-radius: 1em/1em;
  -webkit-animation:cssAnimation6  0s ease-in 230s forwards;
}

#i{
background-color:darkgray;
  margin-top:40px;
  margin-bottom:40px;
  margin-left:100%;
  overflow: hidden;
  float:right;
  margin-right:5%;
  border-radius: 1em/1em;
  -webkit-animation:cssAnimation7  0s ease-in 290s forwards;
}

#hate{
background-color:dodgerblue;
  margin-top:40px;
  overflow: hidden;
  border-radius: 1em/1em;
  -webkit-animation:cssAnimation8  0s ease-in 320s forwards;
}

#this{
background-color:darkgray;
  margin-top:40px;
  margin-bottom:40px;
  margin-left:100%;
  overflow: hidden;
  float:right;
  margin-right:5%;
  border-radius: 1em/1em;
  -webkit-animation:cssAnimation9  0s ease-in 480s forwards;
}

#so{
background-color:dodgerblue;
  margin-top:40px;
  overflow: hidden;
  border-radius: 1em/1em;
  -webkit-animation:cssAnimation10  0s ease-in 510s forwards;
}

#much{
background-color:darkgray;
  margin-top:40px;
  margin-bottom:40px;
  margin-left:100%;
  overflow: hidden;
  float:right;
  margin-right:5%;
  border-radius: 1em/1em;
  -webkit-animation:cssAnimation11  0s ease-in 570s forwards;
}


#man{
background-color:dodgerblue;
  margin-top:40px;
  overflow: hidden;
  border-radius: 1em/1em;
  -webkit-animation:cssAnimation12  0s ease-in 600s forwards;
}


@-webkit-keyframes cssAnimation /* Safari and Chrome */
{
from {top: 0px; height:0px}
to {top: 0px; 
}
}


@-webkit-keyframes cssAnimation1 /* Safari and Chrome */
{
from {top: 0px; width:0px; height:0px;}
to {top: 30px; height:50px;
  width:300px;}
}

@-webkit-keyframes cssAnimation2 /* Safari and Chrome */
{
from {top: 0px; width:0px; height:0px;}
to {top: 80px; height:50px;
  width:300px;}
}

@-webkit-keyframes cssAnimation4 /* Safari and Chrome */
{
from {top: 0px; width:0px; height:0px;}
to {top: 130px; height:50px;
  width:300px;}
}

@-webkit-keyframes cssAnimation5 /* Safari and Chrome */
{
from {top: 0px; width:0px; height:0px;}
to {top: 180px; height:50px;
  width:300px;}
}

@-webkit-keyframes cssAnimation6 /* Safari and Chrome */
{
from {top: 0px; width:0px; height:0px;}
to {top: 230px; height:50px;
  width:300px;}
}

@-webkit-keyframes cssAnimation7 /* Safari and Chrome */
{
from {top: 0px; width:0px; height:0px;}
to {top: 280px; height:50px;
  width:300px;}
}

@-webkit-keyframes cssAnimation8 /* Safari and Chrome */
{
from {top: 0px; width:0px; height:0px;}
to {top: 330px; height:50px;
  width:300px;}
}

@-webkit-keyframes cssAnimation9 /* Safari and Chrome */
{
from {top: 0px; width:0px; height:0px;}
to {top: 380px; height:50px;
  width:300px;}
}

@-webkit-keyframes cssAnimation10 /* Safari and Chrome */
{
from {top: 0px; width:0px; height:0px;}
to {top: 430px; height:50px;
  width:300px;}
}

@-webkit-keyframes cssAnimation10 /* Safari and Chrome */
{
from {top: 0px; width:0px; height:0px;}
to {top: 480px; height:50px;
  width:300px;}
}
