body{background-image:url(assets/1.jpg);
    background-repeat:no-repeat;
    background-size:cover; 
}

.building{
    width:600px;
    height:100%;
    
    top:0;
    bottom:0;
    left:0;
    right:0;
    
    margin: auto;
    position: absolute;
    
    background-image:url(assets/brick.jpg);
    background-size:40%;
    background-repeat: repeat;
}

.one{
    position:absolute;
    transform: rotate(90deg);
    left:-40px;
    top:150px;
    }

.two{
    position:absolute;
    transform: rotate(90deg);
    left:-40px;
    top:350px;

       }

.three{
    position:absolute;
    transform: rotate(90deg);
    left:-40px;
    top:550px;
    }


.vidone{
width:150px;
height:180px;
position: absolute;
left:40px;
top:40px;
background-image: url(assets/1369.gif);
background-size:170%;
background-repeat: no-repeat;
}


.window1{background-image: url(assets/smoke.gif);
background-size:160%;
width:150px;
height:180px;
position: absolute;
left:230px;
top:40px;
}

.window2{background-color: black;
width:150px;
height:180px;
position: absolute;
left:410px;
top:40px;
background-image: url(assets/sen.gif);
background-size:170%;
background-position:center;
}

.window3{
background-image: url(assets/drink.gif);
background-size:160%;
width:150px;
height:180px;
position: absolute;
left:40px;
top:250px;
}


.window4{background-image: url(assets/eh.gif);
background-size:160%;
background-position: center;
width:150px;
height:180px;
position: absolute;
left:230px;
top:250px;
}

.window5{background-color:black;
width:150px;
height:180px;
position: absolute;
left:410px;
top:250px;
background-image:url(assets/1369.gif);
    background-size:160%;
}

.window6{background-image: url(assets/ge.gif);
background-size:190%;
background-position: center;
width:150px;
height:180px;
position: absolute;
left:40px;
top:470px;
}
.window7{background-color:black;
width:150px;
height:180px;
position: absolute;
left:230px;
top:470px;
background-image: url(assets/sleep.gif);
background-position: center;
background-size:170%;
}


.window8{background-image: url(assets/george.gif);;
background-size:160%;
background-position: center;
width:150px;
height:180px;
position: absolute;
left:410px;
top:470px;
}

.four{
position:absolute;
    top:17px;
    left:120px;
    }

.light{position: absolute;
top:150px;}

.img{width:100px;
    position: absolute;
    top:183px;
    transform: rotate(180deg);
    left:359px;
}

