.a{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
    margin:10px;
}

.b{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
    margin:10px;
}
.c{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.d{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.e{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.f{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.j{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.k{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.l{height:20px;
    width:20px;
  background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.n{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.m{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.o{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.p{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.q{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.r{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.s{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}
.t{height:20px;
    width:20px;
    background-color:rebeccapurple;
    position:relative;
     margin:10px;
}


.a:hover{width:100%}
.b:hover{width:100%}
.c:hover{width:100%}
.d:hover{width:100%}
.e:hover{width:100%}
.f:hover{width:100%}
.j:hover{width:100%}
.k:hover{width:100%}
.l:hover{width:100%}
.m:hover{width:100%}
.n:hover{width:100%}
.o:hover{width:100%}
.p:hover{width:100%}
.q:hover{width:100%}
.r:hover{width:100%}
.s:hover{width:100%}
.t:hover{width:100%}
